nav#menu-horizontal ul
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50% , -50%	);
	margin:0;
	padding:10px 0 ;
	background:pink;
	display:flex;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0 ,0 ,0,.3) ;
}

nav#menu-horizontal ul li
{
	
	list-style:none;
	text-align:center;
	display:block;
	border-right:1px  solid rgba(0 ,0 ,0,0.2);
}
nav#menu-horizontal ul li:last-child
{
	
	border-right:none;
}


nav#menu-horizontal ul li a 
{
	text-decoration:none;
	padding: 0 50px;
	display: block;

}

nav#menu-horizontal #icon1 ,
nav#menu-horizontal #icon2 ,
nav#menu-horizontal #icon3 ,
nav#menu-horizontal #icon4 
{
	height:35px;
	width:35px;
	text-align:center;
	overflow : hidden;
	margin : 0 auto  10px;
	

}

nav#menu-horizontal ul li a img
{
	width: 84%;
	height: 84%;
	line-height:40px;
	transition:0.5s;
	
}


nav#menu-horizontal ul li a:hover 
{
	color:rgb(192, 55, 78);

}
nav#menu-horizontal ul li a:hover img
{
	transform : translateY(-100%);

}

nav#menu-horizontal #nom1 ,
nav#menu-horizontal  #nom2 ,
nav#menu-horizontal #nom3  ,
nav#menu-horizontal #nom4
{
	position: relative ;
	height: 20px;
	width: 100%;
	display: block;
	
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	overflow: hidden;
}

nav#menu-horizontal ul li a #nom1 span, 
nav#menu-horizontal ul li a #nom2 span,
nav#menu-horizontal ul li a #nom3 span,
nav#menu-horizontal ul li a #nom4 span
{
	display: block;
	position : relative; 
	color : rgb(134, 9, 36);
	font-size: 18px;
	line-height: 20px;
	transition: 0.5s;
	

}

nav#menu-horizontal ul li a #nom1 span:before, 
nav#menu-horizontal ul li a #nom2 span:before,
nav#menu-horizontal ul li a #nom3 span:before,
nav#menu-horizontal ul li a #nom4 span:before
{
	content:attr(data-text);
	position: absolute;
	top:-100%;
	left: 0;
	width: 100%;
	height:100%;
	color:orangered;
}

nav#menu-horizontal ul li a:hover #nom1 span,
nav#menu-horizontal ul li a:hover #nom2 span,
nav#menu-horizontal ul li a:hover #nom3 span,
nav#menu-horizontal ul li a:hover #nom4 span
{
	transform : translateY(20px);
}






