article div.syntaxer
{
    background-color: #221a0f;
    font-weight:549 ;
    border-color:  #d3af7f  solid 1px !important;

    font-size:110%;
    color: #d3af7f;
    border-radius:5px;
    padding: 12px 12px 12px 12px;
}